:root{
    --white: #fafafa;
    --green: #018d01;
    --blue: #385ac8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: var(--white)
}

.navbar{
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}

.navbar a{
    font-weight: 500;
}

.navbar a:hover{
    color: var(--green);
    transition: .2s;
}

.seccion{
    padding-top: 80px;
}

.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23D9D9D9' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EDEDED'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.title{
    font-size: 5rem;
    font-weight: 400;
    color: grey;
    display: flex;
    flex-direction: column;
}

.banner img{
    width: 100px;
}

.subtitle{
    color: var(--green);
    font-size: 2.5rem;
}


.top-arrow{
    transform: rotate(-180deg);
    animation:
    2s linear 0s infinite alternate rise,
    2s linear 0s infinite alternate bounce;
}

.bottom-arrow{
    animation:
    2s linear 0s infinite alternate-reverse rise,
    2s linear 0s infinite alternate-reverse bounce;
}

.card{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.services__cards .card{
    background-color: var(--white);
    margin-bottom: 1rem;
    padding: 1rem;
}

.services__cards .card img{
  height: 300px;
}

.abilities__cards .card{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abilities__cards .card img{
  width: 150px;
}

.team-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-container .card{
    background-color: var(--white);
    width: 500px;
    height: 168px;
}

@keyframes rise {
    from {
      transform: translateY(50px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(100px);
    }
  }

  .contact-container{
    font-size: 1.1rem;
  }

  .contact-container i{
    margin-right: 5px;
  }

  form{
    width: 50%;
  }

  .contact button{
    background-color: var(--blue);
    color: var(--white);
  }

  .contact button:hover{
    background-color: #446cee;
    color: var(--white);
  }

  footer{
    background-color: var(--blue);
    color: var(--white);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
